{% extends "base.html" %}

{% block title %}Acesso ao Sistema{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center text-primary">Acesso ao Sistema</h1>
    <p class="text-center">Insira suas credenciais para acessar.</p>

    <!-- Formulário de Login -->
    <form method="POST" action="{{ url_for('main.acesso') }}" class="p-4 shadow rounded mx-auto" style="width: 100%; max-width: 400px; background-color: #f9f9f9;">
        <input type="hidden" name="login" value="true">
        <div class="mb-3">
            <label for="username" class="form-label">Email:</label>
            <input type="email" id="username" name="username" class="form-control" placeholder="Insira seu email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Senha:</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Insira sua senha" required>
        </div>
        <button type="submit" class="btn btn-success w-100">Entrar</button>
        <p class="text-center mt-3">
            <small>Você é novo no sistema? <a href="{{ url_for('main.novo_usuario') }}" class="text-primary">Crie um novo usuário</a></small>
        </p>
    </form>
</div>
{% endblock %}
